@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
body {
    font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif;
    letter-spacing: 1.5px;
    /* font-weight: 400; */
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #00a7e5;
}

h2 {
    font-size: 23px;
    font-weight: bold;
    color: #00a7e5;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #4B4B4B;
    line-height: 1.5;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    line-height: 1.6;
}

p,
label,
tr,
td {
    font-size: 17px;
    color: #4B4B4B;
}

table {
    border-collapse: collapse;
    border-color: white;
}

label {
    padding: 0px 9px 0px 0px;
}

.white {
    color: #FFF;
}

a {
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

button {
    background-color: transparent;
    padding: 0px;
    border-width: 0px;
}

select {
    color: #4B4B4B;
    background-color: #FCFAF7;
    border-color: #4B4B4B;
    padding: 3px 8px;
    border-radius: 5px;
}

.selectbook * {
    border-radius: 15px;
    background-color: #FCFAF7;
    border-color: #00a7e5;

}

option {
    color: #00a7e5;
    background-color: #FCFAF7;
    border-color: #00a7e5;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 17px;
}

input {
    color: #4B4B4B;
    background-color: #FCFAF7;
    border: 1px solid #4B4B4B;
    padding: 3px 8px;
    font-size: 17px;
    border-radius: 5px;

}

input[type=radio] {
    width: 16px;
    height: 16px;
    display: inline;
    vertical-align: top;
    margin-top: 7px;
}

select:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: 0;
    border: 1px solid #00a7e5;
    color: #00a7e5;
    -webkit-box-shadow: 1px 1px 5px #4b4b4b45;
    -moz-box-shadow: 1px 1px 5px #4b4b4b45;
    box-shadow: 1px 1px 5px #4b4b4b45;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

img {
    width: 100%;
}

rt {
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    transform: translateY(-35%);
}

.cursor {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.fixed {
    overflow: hidden;
}

div#toggle {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    display: none;
}

div#toggle span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    margin: 0px;
    background: #4B4B4B;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
    z-index: 5;
}

#toggle span:before {
    margin: -10px 0 0 0;
}

#toggle span:after {
    margin: 10px 0 0 0;
}

#toggle span:before,
#toggle span:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #4B4B4B;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

.header_logo {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 5;
}

.header_logo img {
    height: 70px;
}

.menu {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    font-size: 17px;
    padding: 0px 10px;
    background-color: #FCFAF7;
    border-radius: 10px;
    z-index: 5;
}

.menu>li {
    font-size: 17px;
    padding: 15px 12px;
}

.menu li a {
    color: #4B4B4B;
    text-decoration: none;
}

.menu.after-login {
    background-color: transparent;
    box-shadow: none;
}

.menu li a.current,
.menu li a:hover,
.menu li a:hover~span.arrow {
    color: #00a7e5;
    font-weight: bold;
}

.searchbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page {
    margin-top: 15px;
    display: flex;
}

span.pagination {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

span.pagination a:nth-last-child(1),
span.pagination a:first-child,
span.white-pagination a:nth-last-child(1),
span.white-pagination a:first-child {
    border: none;
    width: auto;
    height: auto;
    border-radius: 16px;
    padding: 0px 5px;
}

span.pagination a.active,
span.pagination span.active {
    background-color: #00a7e5;
    color: white;
    border-radius: 50%;
}

span.pagination a,
span.pagination span {
    color: #00a7e5;
    float: left;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #00a7e5;
    margin: 10px 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

span.pagination a:hover {
    color: #fff;
    background-color: #00a7e5;
}

.select-pages-number {
    display: flex;
    align-items: center;
}

.select-pages-number select {
    margin: 0px 8px;
}

.booksearch>button {
    border: 1px solid #00a7e5;
    padding: 3px 8px;
    background: #F7F7F7;
    border-radius: 5px;
}

.booksearch>button:hover {
    background-color: #00a7e5;
}

.booksearch>button:hover p {
    color: #fff;
}

.bookselect {
    display: flex;
    margin-bottom: 15px;
}

/*教師端*/
.menu-teacher-position {
    position: absolute;
}

.menu-teacher {
    display: flex;
    border-radius: 10px;
    margin: 0px 5px;
}

.menu-teacher li {
    text-align: center;
    padding: 15px 12px;
}

.menu-teacher li a {
    font-size: 20px;
}

.menu-teacher li a span {
    font-size: 15px;
}

.main.teacher {
    padding-top: 115px;
}

.color-line {
    width: 100%;
    height: 5px;
    display: flex;
}

.color-line>div {
    width: calc(100% / 7);
}

.color1 {
    background-color: #19ba94;
}

.color2 {
    background-color: #65871d;
}

.color3 {
    background-color: #0d7d67;
}

.color4 {
    background-color: #e97f5c;
}

.color5 {
    background-color: #fd9b1f;
}

.color6 {
    background-color: #418291;
}

.color7 {
    background-color: #204d7a;
}

.teacher-title {
    padding: 70px 60px;
    background-image: url(../image/photo/slide-teacher.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 80px;
}

.teacher-title p {
    font-size: 30px;
    color: #fff;
}

.school-name {
    width: 90%;
    margin: 0 auto 40px;
    color: #0082b0;
}

.school-name h3 {
    color: #00a7e5;
    text-align: right;
}

.sheet {
    overflow: hidden;
    width: 90%;
    margin: 40px auto;
    display: table;
}

.sheet th {
    text-align: center;
    border-top: 1px solid #d9d7ce;
}

.sheet th:nth-last-child(1) {
    border-bottom: 1px solid #d9d7ce;
}

.sheet th span {
    font-size: 15px;
}

.sheet td,
.sheet th {
    padding: 15px 20px;
    white-space: nowrap;
    border-collapse: collapse;
}

.sheet td {
    text-align: center;
    border: 1px solid #d9d7ce;
    font-weight: bold;
}

.sheet td span {
    font-size: 15px;
}

.sheet td a {
    color: #00a7e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet td a img {
    width: 20px;
    margin-right: 5px;
}

th:nth-child(even),
td:nth-child(even) {
    background-color: #f2f0e6;
}

.sheet th {
    background-color: #00a7e5;
    color: #fff;
}

.sheet td:hover {
    background-color: #f5c000;
    color: #000;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
}

.table-flip {
    display: flex;
    justify-content: center;
}

.table-flip thead tr {
    display: flex;
    flex-direction: column;
}

.table-flip th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    max-width: 400px;
    padding: 15px 20px;
}

.table-flip tbody {
    overflow-x: auto;
}

.teacher-searchbar {
    width: 90%;
    margin: 0 auto;
}

.teacherselect {
    display: flex;
    margin-bottom: 15px;
}

.teacherselect.wrap {
    flex-wrap: wrap;
}

.session {
    width: 90%;
    margin: 0 auto 20px;
}

.session-prev img {
    width: 15px;
}

.session-prev a {
    color: #4B4B4B;
}

.session h3 {
    text-align: center;
    color: #00a7e5;
    font-size: 28px;
    margin-top: 20px;
}

.session-arrow {
    border: solid #4b4b4b;
    border-width: 0px 0px 3px 3px;
    transform: rotate(45deg);
    margin: 0px 0px 3px 3px;
    display: inline-block;
    padding: 3px;
}

.session-prev>a:hover {
    color: #00a7e5;
}

.session-prev:hover>a>span {
    border: solid #00a7e5;
    border-width: 0px 0px 3px 3px;
}

.excelfile {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.download-btn {
    background-color: #f9f9f9;
    margin: 0 10px;
    padding: 3px 8px;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
}

.download-btn:hover {
    background-color: #c6c6c6;
}

.page-teacher {
    width: 90%;
    margin: 0px auto 60px;
}

.filter {
    margin-bottom: 15px;
}

.filter a {
    color: #4B4B4B;
}

.filter a:hover {
    color: #00a7e5;
}

.filter span {
    color: #00a7e5;
}

.booksearch_individual {
    margin-left: auto;
}


@media (max-width: 1024px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    a,
    input[type=text],
    input[type=password],
    select,
    label,
    legend,
    tr,
    td,
    select,
    option {
        font-size: 15px;
    }

    label {
        padding: 0px;
    }

    .header_logo {
        left: 80px;
        top: 15px;
        position: absolute;
    }

    .header_logo img {
        height: 50px;
        width: auto;
    }

    .menu {
        flex-direction: column;
        background: #FCFAF7;
        padding: 50px 10px;
        visibility: hidden;
        transform: translateX(-100%);
        width: 40%;
        height: calc(100% - 30px);
        left: 15px;
        top: 15px;
        overflow-y: auto;
    }

    .menu>li {
        padding: 10px 0px;
    }

    .menu li a {
        font-size: 15px;
    }

    .menu.opened {
        -webkit-transition: 1s ease all;
        -moz-transition: 1s ease all;
        transition: 1s ease all;
        visibility: visible;
        transform: translateX(0%);
        z-index: 11;
    }

    .menu.after-login {
        background-color: #FCFAF7;
        margin: 0px;
    }

    .menu-pagination,
    .menu-language {
        background-color: transparent;
        box-shadow: none;
        flex-direction: column;
    }

    .menu-pagination>li,
    .menu-language>li {
        font-size: 17px;
        padding: 5px 10px;
    }

    .menu-language li:nth-last-child(1)>ul {
        background-color: transparent;
    }

    body.fixed {
        position: relative;
    }

    body.fixed::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
    }

    div#toggle {
        display: block;
        background-color: #FCFAF7;
        padding: 10px;
        border-radius: 50%;
        position: fixed;
        z-index: 5;
        left: 15px;
        top: 15px;
        z-index: 12;
    }

    div#toggle span {
        display: block;
    }

    #toggle.open span {
        background-color: rgba(0, 0, 0, 0.0);
    }

    #toggle.open span:before,
    #toggle.open span:after {
        margin: 0;
    }

    #toggle.open span:before {
        transform: rotate(45deg);
    }

    #toggle.open span:after {
        transform: rotate(-45deg);
    }

    .page {
        flex-direction: column;
    }
    .select-pages-number {
        margin: 20px auto 40px;
    }

    /*教師端*/
    .menu-teacher-position {
        position: fixed;
    }

    .main.teacher {
        padding-top: 85px;
    }

    .menu-teacher {
        flex-direction: column;
    }

    .menu-teacher li {
        text-align: left;
    }

    .table-flip th {
        max-width: 300px;
    }

    .session h3 {
        text-align: left;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    a,
    input[type=text],
    input[type=password],
    select,
    label,
    legend,
    tr,
    td,
    select,
    option,
    .daccPage-DACC__table td {
        font-size: 15px;
    }

    .item {
        padding: 3px 10px;
    }

    .content-login-menu,
    .content-personal-menu,
    .content-map-menu,
    .content-about-menu,
    .content-language-menu {
        padding: 0px 10px;
    }

    .dropdown-content li {
        padding: 3px 10px;
    }

    .menu>li {
        padding: 5px 0px;
    }

    .searchbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .select-pages-number {
        margin: 20px auto 0px;
    }
    span.pagination a:nth-last-child(1), span.pagination a:first-child {
        display: none;
    }
    span.pagination a, span.pagination span, span.pagination.white-pagination a, span.pagination.white-pagination span {
        margin: 7px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        padding: 0px;
        font-size: 13px;
    }

    /*教師端*/
    .main.teacher {
        padding-top: 71px;
        width: 100%;
    }

    .teacher-title {
        padding: 35px 20px;
        margin-bottom: 50px;
    }

    .teacher-title p {
        font-size: 25px;
    }

    .table-flip th {
        width: 160px;
    }

    .sheet td a img {
        width: 17px;
    }

    .session {
        text-align: left;
        font-size: 22px;
    }
}

@media (max-width: 499px) {
    h1 {
        font-size: 17px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 14px;
    }

    p,
    a,
    input[type=text],
    input[type=password],
    select,
    label,
    legend,
    tr,
    td,
    select,
    option,
    .daccPage-DACC__table td {
        font-size: 13px;
    }

    .header_logo {
        left: 60px;
    }

    .header_logo img {
        height: 30px;
    }

    div#toggle {
        width: 30px;
        height: 30px;
    }

    div#toggle span {
        width: 20px;
        height: 2px;
    }

    #toggle span:before,
    #toggle span:after {
        height: 2px;
    }

    #toggle span:before {
        margin: -8px 0 0 0;
    }

    #toggle span:after {
        margin: 8px 0 0 0;
    }

    .menu {
        width: calc(100% - 16px);
    }

    .slide-bg {
        padding-top: 85px;
        padding-bottom: 30px;
    }

    .slide-bg>h1 {
        font-size: 28px;
    }

    /*教師端*/
    .main.teacher {
        padding-top: 46px;
    }
}